svg {
    background-color: white;
}

svg1 {
    background-color: white;
}

svg2 {
    background-color: white;
}

h1 {
    color: rgb(115, 115, 115);
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
}

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

#lineChart {
    width: 1200px;
    height: 500px;
    margin-left: 200px;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    text-align:center;
    box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

#barChart {
    width: 1650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
    font-size: 8px;
    
}

svg + div {
    padding-top:100px;
    padding-bottom: : 50px;
    text-align: center;
}

path:hover {
    fill: rgba(8, 81, 156, 0.2);
    cursor:pointer;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 84px;
  height: 64px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightgrey;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.checkboxes {
    padding-top:10px;
    text-align: center;
}

.linearCheckBox {
    text-align: right;
}

label {
    padding-left: 10px;
}

h1 {
    text-align: center;
}

#slider {
    margin-top: 10px;
}

#slider label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
}

/* below is not necessary, just for style */
#slider {
    width: 50%;
    margin: 2em auto;
}



.steps {
    border: 1px solid transparent; /*follows #slider2 style for sizing purposes */
    width: 400px;
    position: relative;
    height: 30px;
}

.tick {
    border: 1px solid transparent; /*follows slide handle style for sizing purposes*/
    position: absolute;
    width: 1.2em;
    margin-left: -.6em;
    text-align:center;
    margin-top:10px;
    left: 0;
}




.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}




        .axis path {
            fill: none;
            stroke: #777;
            shape-rendering: crispEdges;
        }
        .axis text {
            font-family: Lato;
            font-size: 13px;
        }




